<div id="image-block-{{ block.id }}" class="wrapper">
    <img src="{{ fields.image_1['url'] }}" alt="{{ fields.image_1['alt'] }}" style="width: 30%; margin-right: 4%"/>
    <img src="{{ fields.image_2['url'] }}" alt="{{ fields.image_2['alt'] }}" style="width: 30%; margin-right: 4%"/>
    <img src="{{ fields.image_3['url'] }}" alt="{{ fields.image_3['alt'] }}" style="width: 30%;"/>
</div>